@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import "./variables.scss";

*,
html,
body {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong {
  color: $theme-text-primary;
}
